[couch_db]
rabbitmq_email
[couch_host]
127.0.0.1
[couch_port]
80
[couchdb_user]
app_user
[counchdb_user_encrypted_pass]
EncryptedPasswordOrYouCanUseRawPass==
[disable_couch_feed]
false
[mq_host]
127.0.0.1
[mq_queue_name]
EMAIL_QUEUE
[path]
config.ini
[sender_email]
no-reply@me.com
[aws_smtp_user]
AKISOMETHINSPHQ
[aws_smtp_raw_pass]
EncryptedPasswordOrYouCanUseRawPass==
[aws_smtp_host]
email-smtp.us-east-1.amazonaws.com
